# Backend
API_PORT=8000
HOST=0.0.0.0

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

# Data Downloaders (Copernicus CDS)
# DO NOT add real CDS credentials here. Place them in ~/.cdsapirc
CDSAPI_URL=https://cds.climate.copernicus.eu/api/v2
CDSAPI_KEY=YOUR_API_KEY
